@model IEnumerable<HousingSocietyManagement.Models.Flat>


<p class="alert alert-danger display-3 text-center">Ujjyani Co. Op. Hos. Soc</p>
<div class="text-center m-5">
<table class="table table-bordered bg-info w-25" >
    <tr class="text-white">
     <th>FlatName</th>
        <th>Flat Owner</th>
        
        <th>Mobile</th>
        
    </tr>
    @foreach(var item in Model)
    {
        <tr class="text-white">
            <td>
             <a asp-action="GetFlatDetails" asp-controller="Flat" asp-route-flatNo=@item.FlatNo>  @item.FlatName</a> 
            </td>
            <td>
                @item.FlatOwner
            </td>
          
            <td>
                @item.Mobile
            </td>
           
        </tr>
    }
</table>
</div>