@model IEnumerable<HousingSocietyManagement.Models.Flat>


<p class="alert alert-danger display-3 text-center">Ujjyani Co. Op. Hos. Soc</p>


<a asp-action="CreateFlat" asp-controller="Flat" class="btn btn-secondary">New Flat</a>

@{
    ViewData["ViewName"] = "Index";
}

<div class="card-group">
    
    @foreach (var item in @Model)
    {
        <partial name="_FlatDetailsPartial" model=@item/>
    }

</div>