@model IEnumerable<HousingSocietyManagement.Models.Maintenance>

    <a asp-action="NewMaintenance" class="btn btn-info">New Type</a>

    <table class="table table-bordered w-25" style="margin-left:200px">
        <tr>
<th> Sno</th>
<th>Maintenance Nature</th>
<th>Action</th>
<th>Action</th>
</tr>


@foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td><a asp-action="GetDetails" asp-route-id=@item.Id class="btn btn-sm btn-warning">Details</a></td>
                        <td><a asp-action="Delete" asp-route-id=@item.Id class="btn btn-sm btn-danger">Delete</a></td>

        </tr>
    }
</table>
